<div [ngClass]="{'landing-page public-pages': true,'show-mobile-menu': showMobileMenu}">

  <app-lb-nav-mobile></app-lb-nav-mobile>

  <div class="main-container" id="home">

    <app-lb-nav (mobileMenuButtonEvent)="showMobileMenu=!showMobileMenu"></app-lb-nav>

    <div class="content-container">

      <app-section-artist-about></app-section-artist-about>

      <div style="margin: 30px 35px 20px">
        <app-lb-tags-list [tagsList]="tagsList" [alignCenter]="true"></app-lb-tags-list>
      </div>

      <app-lb-grid></app-lb-grid>

    </div>

  </div>

  <app-lb-footer></app-lb-footer>

</div>
