<div [ngClass]="{'landing-page light-mode public-pages': true,'show-mobile-menu': showMobileMenu}">
  <div class="mobile-menu" (click)="$event.stopPropagation()">
    <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
      <span></span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
      <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
      <li class="nav-item">
        <div class="separator"></div>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Login</a>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Sign Up</a>
      </li>
    </ul>
  </div>

  <div class="main-container">

    <ngx-headroom class="landing-page-nav">
      <nav class="navbar">
        <div class=" d-flex align-items-center justify-content-between" style="width: 100%">
          <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
            <span class="white"></span>
            <span class="dark"></span>
          </a>
          <div class="search" (click)="searchAreaClick($event)">
            <input placeholder="Search..." [(ngModel)]="searchKey" (keyup)="searchKeyUp($event)">
            <span class="search-icon" (click)="searchClick($event)">
        <i class="simple-icon-magnifier"></i>
      </span>
          </div>
          <ul class="navbar-nav d-none d-lg-flex flex-row">
            <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
            <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
            <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a>
            </li>
            <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
            <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
            <li class="nav-item pl-3 pr-2">
              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                 [href]="buyUrl">Login</a>
            </li>
            <li class="nav-item pl-2 pr-0">
              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                 [href]="buyUrl">Sign Up</a>
            </li>
          </ul>
          <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                        <i class="simple-icon-menu"></i>
                    </span>
        </div>
      </nav>
    </ngx-headroom>


    <div class="content-container">

      <app-section-artist-about></app-section-artist-about>

      <div class="containerw3 row-grid">
        <a class="position-relative row-item">
          <img src="/assets/img/details/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-11.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-10.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/10.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>
