<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">

<!--  <div class="mobile-menu" (click)="$event.stopPropagation()">-->
<!--    <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">-->
<!--      <span></span>-->
<!--    </a>-->
<!--    <ul class="">-->
<!--      <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>-->
<!--      <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>-->
<!--      <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a></li>-->
<!--      <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>-->
<!--      <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>-->
<!--      <li class="nav-item">-->
<!--        <div class="separator"></div>-->
<!--      </li>-->
<!--      <li class="nav-item text-center">-->
<!--        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" routerLink="/user/login">Login</a>-->
<!--      </li>-->
<!--      <li class="nav-item text-center">-->
<!--        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" routerLink="/user/signup">Sign Up</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
  <app-lb-nav-mobile></app-lb-nav-mobile>

  <div class="main-container" id="home">


    <app-lb-nav (mobileMenuButtonEvent)="showMobileMenu=!showMobileMenu"></app-lb-nav>

<!--    <ngx-headroom class="landing-page-nav">-->
<!--      <nav class="navbar">-->
<!--        <div class=" d-flex align-items-center justify-content-between" style="width: 100%">-->
<!--          <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">-->
<!--            <span class="white"></span>-->
<!--            <span class="dark"></span>-->
<!--          </a>-->
<!--          <ul class="navbar-nav d-none d-lg-flex flex-row">-->
<!--            <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>-->
<!--            <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>-->
<!--            <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a>-->
<!--            </li>-->
<!--            <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>-->
<!--            <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>-->
<!--            <li class="nav-item pl-3 pr-2">-->
<!--              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"-->
<!--                 routerLink="/user/login">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item pl-2 pr-0">-->
<!--              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"-->
<!--                 routerLink="/user/signup">Sign Up</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">-->
<!--                        <i class="simple-icon-menu"></i>-->
<!--                    </span>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </ngx-headroom>-->

    <div class="content-container" style="padding-top: 80px">

      <div class="main-banner position-relative" [style.background-image]="'url(/assets/img//details/5.jpg)'">
        <div class="home-text">
          <h2>World's most affordable <br/>Images and Videos</h2>

          <div class="home-page-search">
            <i class="iconsminds-magnifi-glass"></i>
            <ng-select [items]="peopleAsyncSearch | async" bindLabel="name" [addTag]="true" [multiple]="true"
                       [hideSelected]="true" [trackByFn]="trackByFn" [minTermLength]="2"
                       [loading]="peopleLoadingAsyncSearch" placeholder="Search the perfect creative images and videos"
                       typeToSearchText="Please enter 2 or more characters" [typeahead]="peopleInputAsyncSearch"
                       [(ngModel)]="selectedPersonsAsyncSearch">
            </ng-select>
          </div>


        </div>
      </div>


      <div class="text-center" style="margin: 30px 35px 20px">
        <p class="d-sm-inline-block mb-0">
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">All</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Milk</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Milk</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-dark mr-2 mb-2">View all</a>
        </p>
      </div>

      <div class="containerw3 row-grid">
        <a class="position-relative row-item">
          <img src="/assets/img/details/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-11.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-10.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/10.jpg"/>
        </a>
      </div>

      <app-lb-footer></app-lb-footer>


    </div>
  </div>

</div>



