<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
  <div class="mobile-menu" (click)="$event.stopPropagation()">
    <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
      <span></span>
    </a>
    <ul class="">
      <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
      <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
      <li class="nav-item">
        <div class="separator"></div>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Login</a>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Sign Up</a>
      </li>
    </ul>
  </div>

  <div class="main-container">


    <div class="content-container" id="home">

      <div class="main-banner">

        <ngx-headroom class="landing-page-nav">
          <nav class="navbar">
            <div class=" d-flex align-items-center justify-content-between" style="width: 100%">
              <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
                <span class="white"></span>
                <span class="dark"></span>
              </a>
              <ul class="navbar-nav d-none d-lg-flex flex-row">
                <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
                <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
                <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a>
                </li>
                <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
                <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
                <li class="nav-item pl-3 pr-2">
                  <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                     [href]="buyUrl">Login</a>
                </li>
                <li class="nav-item pl-2 pr-0">
                  <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                     [href]="buyUrl">Sign Up</a>
                </li>
              </ul>
              <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                        <i class="simple-icon-menu"></i>
                    </span>
            </div>
          </nav>
        </ngx-headroom>

        <div class="card dashboard-search" style="background-size: cover">
          <div class="card-body">
            <div class="home-text" style="margin-bottom: 40px">
              <div class="display-1">MAGIC IS IN <br>THE DETAILS</div>
              <p class="white mb-5"> Vien is the combination of good design, quality code and attention for details.<br><br>
                We used same design language for components, layouts, apps and other parts of the template. <br><br>
                Hope you enjoy it! </p><a target="_blank" class="btn btn-light btn-xl mr-2 mb-2" href="/app"> VIEW NOW
              <i class="simple-icon-arrow-right"></i></a></div>
            <div class="form-container" style="    height: 140px;">
              <form>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>{{ 'dashboards.toppings' | translate}}</label>
                      <ng-select appearance="outline" [searchable]="false">
                        <ng-option *ngFor="let item of selectToppings" [value]="item.value">{{item.label}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>{{ 'dashboards.type' | translate }}</label>
                      <ng-select appearance="outline" [searchable]="false">
                        <ng-option *ngFor="let item of selectTypes" [value]="item.value">{{item.label}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{ 'dashboards.keyword' | translate }}</label>
                      <div class="input-group date">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group text-center">
                      <label style="color: transparent">Button</label>
                      <button type="submit"
                              class="btn btn-primary btn-lg d-block" style="width: 100%">{{ 'dashboards.search' | translate}}</button>
                    </div>
                  </div>
                </div>


              </form>

            </div>
          </div>
        </div>


      </div>




      <div class="section footer mb-0">
        <div class="container">
          <div class="row footer-row">
            <div class="col-12 text-right">
              <a class="btn btn-circle btn-outline-semi-light footer-circle-button"
                 (click)="scrollTo('#home')" href="javascript:;"><i class="simple-icon-arrow-up"></i></a>
            </div>
            <div class="col-12 text-center footer-content">
              <a (click)="scrollTo('#home')" href="javascript:;">
                <img class="footer-logo" alt="footer logo"
                     src="/assets/logos/white-full.svg"/>
              </a>
            </div>
          </div>
        </div>
        <div class="container copyright pt-5 pb-5">
          <div class="row">
            <div class="col-12"></div>
            <div class="col-12 text-center">
              <p class="mb-0">2020 © ColoredStrategies</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



