<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">

  <app-lb-nav-mobile></app-lb-nav-mobile>

  <div class="main-container" id="home">
    <app-lb-nav (mobileMenuButtonEvent)="showMobileMenu=!showMobileMenu"></app-lb-nav>
    <div class="content-container">

      <div class="main-banner position-relative" [style.background-image]="'url(/assets/img//details/5.jpg)'">
        <div class="home-text">
          <h2>World's most affordable <br/>Images and Videos</h2>

          <div class="home-page-search">
            <i class="iconsminds-magnifi-glass"></i>
            <ng-select [items]="peopleAsyncSearch | async" bindLabel="name" [addTag]="true" [multiple]="true"
                       [hideSelected]="true" [trackByFn]="trackByFn" [minTermLength]="2"
                       [loading]="peopleLoadingAsyncSearch" placeholder="Search the perfect creative images and videos"
                       typeToSearchText="Please enter 2 or more characters" [typeahead]="peopleInputAsyncSearch"
                       [(ngModel)]="selectedPersonsAsyncSearch">
            </ng-select>
          </div>


        </div>
      </div>


      <div class="text-center" style="margin: 30px 35px 20px">
        <p class="d-sm-inline-block mb-0">
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">All</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Flour</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Chocolate</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Milk</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Caster Sugar</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Baking Powder</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Milk</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Eggs</a>
          <a href="javascript:;" class="badge badge-lg badge-outline-dark mr-2 mb-2">Vegetable Oil</a>
          <a href="javascript:;" class="badge badge-lg badge-dark mr-2 mb-2">View all</a>
        </p>
      </div>

      <div class="containerw3 row-grid">
        <a class="position-relative row-item">
          <img src="/assets/img/details/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-11.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/details/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/cards/thumb-4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/1.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/2.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/3.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/4.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/5.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/6.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/profiles/l-10.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/7.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/8.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/9.jpg"/>
        </a>
        <a class="position-relative row-item">
          <img src="/assets/img/grid/10.jpg"/>
        </a>
      </div>


    </div>
  </div>

  <app-lb-footer></app-lb-footer>
</div>



