


<app-section-artist-about [editMode]="true" [user]="user"></app-section-artist-about>


<div class="mt-4">
  <tabset class="separator-tabs">
    <tab heading="Collections">
      <app-profile-collections></app-profile-collections>
    </tab>
    <tab heading="Images">
      <app-lb-grid></app-lb-grid>
    </tab>
  </tabset>
</div>


<!--<router-outlet></router-outlet>-->

<!--<div class="row mt-4">-->
<!--  <div class="col-12">-->
<!--    <div>-->
<!--      <tabset class="separator-tabs">-->
<!--        <tab heading="{{'pages.profile' | translate | uppercase }}">-->
<!--          <div class="row">-->
<!--            <div class="col-12">-->
<!--              <app-profile-portfolio-items [items]="collections"></app-profile-portfolio-items>-->
<!--            </div>-->
<!--          </div>-->
<!--        </tab>-->
<!--        <tab heading="{{'pages.followers' | translate | uppercase }}">-->
<!--          <app-profile-friends></app-profile-friends>-->
<!--        </tab>-->
<!--      </tabset>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
