.img-contain {
  object-fit: contain;
  height: 250px

}

.card-top {
  position: relative;
  min-height: 150px;
  display: block;

  .folder-icon {
    margin-top: 1.75rem;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .gallery {
    .img-fluid-wrapper{
      float: left;
      width: 50%;
      height: 80px;
      padding-bottom: 3px;
      &.full-width{
        width: 100%;
        height: 160px;
      }
      .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #e2e3e5;
      }
    }

  }
}
