.main-banner{
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0,0,0,0.5);
  }
}
