<div [ngClass]="{'landing-page light-mode public-pages': true,'show-mobile-menu': showMobileMenu}">
  <div class="mobile-menu" (click)="$event.stopPropagation()">
    <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
      <span></span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
      <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
      <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
      <li class="nav-item">
        <div class="separator"></div>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Login</a>
      </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-primary btn-sm mobile-menu-cta" target="_blank" [href]="buyUrl">Sign Up</a>
      </li>
    </ul>
  </div>

  <div class="main-container">

    <ngx-headroom class="landing-page-nav">
      <nav class="navbar">
        <div class=" d-flex align-items-center justify-content-between" style="width: 100%">
          <a class="navbar-logo pull-left" (click)="scrollTo('#home')" href="javascript:;">
            <span class="white"></span>
            <span class="dark"></span>
          </a>
          <div class="search" (click)="searchAreaClick($event)">
            <input placeholder="Search..." [(ngModel)]="searchKey" (keyup)="searchKeyUp($event)">
            <span class="search-icon" (click)="searchClick($event)">
        <i class="simple-icon-magnifier"></i>
      </span>
          </div>
          <ul class="navbar-nav d-none d-lg-flex flex-row">
            <li class="nav-item"><a (click)="scrollTo('#features')" href="javascript:;">FEATURES</a></li>
            <li class="nav-item"><a (click)="scrollTo('#layouts')" href="javascript:;">LAYOUTS</a></li>
            <li class="nav-item"><a (click)="scrollTo('#components')" href="javascript:;">COMPONENTS</a>
            </li>
            <li class="nav-item"><a (click)="scrollTo('#apps')" href="javascript:;">APPS</a></li>
            <li class="nav-item"><a (click)="scrollTo('#themes')" href="javascript:;">THEMES</a></li>
            <li class="nav-item pl-3 pr-2">
              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                 [href]="buyUrl">Login</a>
            </li>
            <li class="nav-item pl-2 pr-0">
              <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_blank"
                 [href]="buyUrl">Sign Up</a>
            </li>
          </ul>
          <span class="mobile-menu-button" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
                        <i class="simple-icon-menu"></i>
                    </span>
        </div>
      </nav>
    </ngx-headroom>


    <div class="content-container" id="home" style="padding: 10px">

      <div class="row row-eq-height">
        <div class="col-12 col-md-12 col-xl-8 col-left">
          <div class="card mb-4">
            <div class="card-body">
              <app-glide-thumbs [images]="detailImages" [settingsImages]="{
              bound: true,
              rewind: false,
              focusAt: 0,
              startAt: 0,
              gap: 5,
              perView: 1
            }" [thumbs]="detailThumbs" [settingsThumbs]="{
              bound: true,
              rewind: false,
              focusAt: 0,
              startAt: 0,
              gap: 10,
              perView: 5,
              breakpoints: {
                '2640' : { perView: 5 },
                '576' : { perView: 4 },
                '420' : { perView: 3 }
              }
            }"></app-glide-thumbs>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-12 col-xl-4 col-right">
          <app-product-detail-info></app-product-detail-info>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><span>{{ 'More from this artist' | translate }}</span><a
                class="btn-link float-right text-small pt-1"
                href="javascript:;">{{ 'pages.view-all' | translate }}</a>
              </h5>
              <div class=" social-image-row gallery" style="height: 300px">
                <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                  <div class="row">
                    <div class="col-md-4" *ngFor="let image of album; let i=index">
                      <img class="img-fluid border-radius c-pointer" [src]="image.thumb" (click)="openLightbox(i)"/>
                    </div>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div>
        <app-profile-photos title="Similar items" colSplit="col-md-3"></app-profile-photos>
      </div>

      <div class="section footer mb-0">
        <div class="container">
          <div class="row footer-row">
            <div class="col-12 text-right">
              <a class="btn btn-circle btn-outline-semi-light footer-circle-button"
                 (click)="scrollTo('#home')" href="javascript:;"><i class="simple-icon-arrow-up"></i></a>
            </div>
            <div class="col-12 text-center footer-content">
              <a (click)="scrollTo('#home')" href="javascript:;">
                <img class="footer-logo" alt="footer logo"
                     src="/assets/logos/white-full.svg"/>
              </a>
            </div>
          </div>
        </div>
        <div class="container copyright pt-5 pb-5">
          <div class="row">
            <div class="col-12"></div>
            <div class="col-12 text-center">
              <p class="mb-0">2020 © ColoredStrategies</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
