<app-list-page-header (addNewItem)="showAddNewModal()" (changeDisplayMode)="changeDisplayMode($event)" (changeOrderBy)="changeOrderBy($event)"
                      (itemsPerPageChange)="itemsPerPageChange($event)"
                      (searchKeyUp)="searchKeyUp($event)"
                      (selectAllChange)="selectAllChange($event)"
                      [displayMode]="displayMode"
                      [itemOptionsPerPage]="[4,8,12]"
                      [itemsPerPage]="itemsPerPage"
                      [selectAllState]="selectAllState"
>
</app-list-page-header>
<app-add-new-product-modal #addNewModalRef></app-add-new-product-modal>
<!--{{(user | async ).name}}-->
<div style="margin-bottom: 20px">
  <alert [dismissOnTimeout]="10000" [dismissible]="true" type="danger rounded">
    {{'alert.dismissing-without-animate-text' | translate}} (10 seconds)
  </alert>
</div>
<div style="margin-bottom: 20px">
  <dropzone (error)="onUploadError($event)" (success)="onUploadSuccess($event)" [config]="config"
            [message]="'form-components.dropzone-message' | translate"></dropzone>
</div>

<context-menu #basicMenu>
  <ng-template (execute)="onContextMenuClick('copy',$event.item)" contextMenuItem let-item>
    <i class="simple-icon-docs mr-1"></i> <span>Copy</span>
  </ng-template>
  <ng-template (execute)="onContextMenuClick('move-to-archive',$event.item)" contextMenuItem let-item>
    <i class="simple-icon-drawer mr-1"></i> <span>Move to archive</span>
  </ng-template>
  <ng-template (execute)="onContextMenuClick('delete',$event.item)" contextMenuItem let-item>
    <i class="simple-icon-trash mr-1"></i><span>Delete</span>
  </ng-template>
</context-menu>


<div class="row">
  <div *ngIf="displayMode==='list'" class="col-12 list">
    <div *ngFor="let p of data; let i=index" [contextMenuSubject]="p"
         [contextMenu]="basicMenu" [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}">
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
          <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="javascript:;">
            {{p.title}}
          </a>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.category}}</p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.date}}</p>
          <div class="w-15 w-xs-100">
            <span [class]="'badge badge-pill badge-'+ p.statusColor">{{p.status}}</span>
          </div>
        </div>
        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
          <input (change)="onSelect(p)" [checked]="isSelected(p)" [id]="'customCheck'+i" class="custom-control-input"
                 type="checkbox">
          <label [for]="'customCheck'+i" class="custom-control-label"></label>
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="displayMode==='thumb'" class="col-12 list">
    <div *ngFor="let p of data; let i=index" [contextMenuSubject]="p"
         [contextMenu]="basicMenu" [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}">
      <a class="d-flex" href="javascript:;">
        <img [alt]="p.title" [src]="p.img" class="list-thumbnail responsive border-0 card-img-left"/>
      </a>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <a class="w-40 w-sm-100" href="javascript:;">
            <p class="list-item-heading mb-0 truncate">{{p.title}}</p>
          </a>
          <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.category}}</p>
          <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.date}}</p>
          <div class="w-15 w-sm-100">
            <span [class]="'badge badge-pill badge-'+ p.statusColor">{{p.status}}</span>
          </div>
        </div>
        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
          <input (change)="onSelect(p)" [checked]="isSelected(p)" [id]="'customCheck'+i" class="custom-control-input"
                 type="checkbox">
          <label [for]="'customCheck'+i" class="custom-control-label"></label>
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="displayMode==='image'" class="col-12 list">
    <div class="row">
      <div *ngFor="let p of assets; let i=index" [contextMenuSubject]="p"
           [contextMenu]="basicMenu" class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
        <div [ngClass]="{'card': true, 'active':isSelected(p)}">
          <div class="position-relative">
            <a href="javascript:;"><img [alt]="p.name" [src]="p.thumbnailURL" class="card-img-top"></a>
            <span
              [class]="'badge badge-pill position-absolute badge-top-left badge-secondary'">{{i}}</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <div class="custom-control custom-checkbox pl-1">
                  <label class="custom-control custom-checkbox  mb-0">
                    <input (change)="onSelect(p)" [checked]="isSelected(p)" [id]="'customCheck'+i" class="custom-control-input"
                           type="checkbox">
                    <label [for]="'customCheck'+i" class="custom-control-label"></label>
                  </label>
                </div>
              </div>
              <div class="col-10">
                <a href="javascript:;">
                  <p class="list-item-heading mb-4 pt-1">{{p.name}}</p>
                </a>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">{{p.updated|date}}</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <pagination (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage" [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate"
                [itemsPerPage]="itemsPerPage" [maxSize]="5" [rotate]="true"
                [totalItems]="totalItem" class="justify-content-center">
    </pagination>
  </div>
</div>

<ng-template #nextTemplate let-currentPage="currentPage" let-disabled="disabled">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-currentPage="currentPage" let-disabled="disabled">
  <i class='simple-icon-arrow-left'></i>
</ng-template>
